StoreDomainObject/obj/
StoreDomainObject.Tests/obj/
StoreDomainObject/bin/Debug/StoreDomainObject.pdb
StoreDomainObject.Tests/bin/
StoreDomainObject/bin/
/Web/obj/Debug
/Web/bin
.vs/
packages/
Web/obj/
Web.Tests/obj/
